﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Test</h2>
<p>This demo will test the two methods for calling and validating a model. The static method
    uses a compile-time static type view model and would represent the normal way of defining
    a model. The dynamic method uses the Roslyn C# scripting engine to dynamically materialize 
    the view model.</p>
<div ng-controller="ApiController">
    <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" class="form-control" id="id" ng-model="data._Id" />
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="data._Data.Name" />
    </div>
    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" class="form-control" id="age" ng-model="data._Data.Age" />
    </div>

    <p>
        <button type="button" class="btn btn-default" ng-click="btnCall('Test1')">Run with Static ViewModel</button>
        <button type="button" class="btn btn-default" ng-click="btnCall('Test2')">Run with Dynamic ViewModel</button>
    </p>

    <div class="row">
        <div class="col-md-6">
            <h2>Request:</h2>
            <pre>{{data|json}}</pre>
        </div>
        <div class="col-md-6">
            <h2>Response: <small>{{status}}</small></h2>
            <pre>{{result|json}}</pre>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function() {
        var app = angular.module("RoslynTest");

        app.controller("ApiController", [
            "$scope", "$http", function($scope, $http) {
                $scope.data = { _Id: Math.ceil(Math.random() * 99999 + 1), _Data: { Name: null, Age: null} };
                $scope.result = {};
                $scope.status = null;

                $scope.btnCall = function(action) {
                    $http.post("/api/Test/" + action, $scope.data).then(function (response) {
                        $scope.status = response.status;
                        $scope.result = response.data;
                    }, function(response) {
                        $scope.status = response.status;
                        $scope.result = response.data;
                    });
                };
            }
        ]);
    })();
</script>